# Introduction to Python for machine learning

Author: Brian Stucky

We will be using the programming language [Python](https://www.python.org/) for all lessons in this workshop.  Because we don't have enough time to give a complete, from-scratch introduction to programming, we are assuming that even if you've not used Python before, you have some experience with at least one so-called "scripting" programming language, such as R or MATLAB.  You really don't need to know very much of Python for this workshop, so in this first lesson, we'll cover the most important bits of Python and also introduce two Python packages that are commonly used for doing machine learning with Python, _NumPy_ and _pandas_.

## Introducing Jupyter notebooks

There are several ways to run Python programs.  For general scripting and programming tasks, it is common to run Python programs directly from the command line, much as you would any other piece of software.  However, for this workshop, we will be using a programming environment called [*Jupyter notebooks*](https://jupyter.org/) that allows you to run Python programs one line (or several lines) at a time and inspect the results at each step.  This approach to programming is especially well suited for data analysis work and will be familiar to you if you've used R programming environments such as RStudio.

Jupyter notebooks are comprised of _cells_ that contain either Python code or text.  To run the code in a cell, click in the cell to make it active, then type `shift+enter`.  The results from running the Python code will be displayed below the cell.  Typing `shift+enter` will also open a new cell below the active cell if there is not already a cell there.

Next, we'll try using a Jupyter notebook to learn some basic Python commands.

## Python basics

First, let's look at how we can write literal values in Python.  Numbers are written just as you'd expect; for example, `12` or `3.141592654`.  Literal text values are called _strings_ and are enclosed in either single or double quotes: `'this is a string'` or `"this is a string"`.

We can use the `print()` function to write output to the console.  If multiple values are provided to the `print()` function, they must be separated by commas.

In [1]:
print(12)
print(3.141592654)
print('this is a string')
print('This is the value of pi:', 3.141592654)

12
3.141592654
this is a string
This is the value of pi: 3.141592654

Python provides all of the basic arithmetic operators for working with numerical values.

In [2]:
print(3 + 4)
print(3 - 4)
print(3 * 4)
print(3 / 4)

print(3 * 4 + 1)
print(3 * (4 + 1))

7
-1
12
0.75
13
15

Just as with other programming languages, data values in Python can be assigned to _variables_.  The `=` operator is used to assign a value to a variable (and create the variable if it does not yet exist).

In [3]:
pi = 3.141592654
print('This is the value of pi:', pi)

radius = 4
area = pi * radius * radius
print('The area of the circle is', area)

This is the value of pi: 3.141592654
The area of the circle is 50.265482464

## Conditional statements

Like most programming languages, Python provides an `if` statement that can be used to make a decision.  One of the most common patterns is to check the value of some numerical variable using one of the comparison operators: `>` (greater than), `<` (less than), `==` (equal to), or `!=` (not equal to).  Let's look at some examples.

In [4]:
a = 12

if a < 20:
    print('Less than 20!')

if a == 12:
    print('Equal to 12!')

if a != 20:
    print('Not equal to 20!')

if a > 20:
    print('Greater than 20!')

Less than 20!
Equal to 12!
Not equal to 20!

The basic idea is that whenever the test following the keyword `if` evaluates to `True`, the indented lines following the `if` will be run.  As the last example shows, if the test evaluates to `False`, then nothing happens.  If we'd like to also do something when the test is `False`, we can add an `else` clause to the `if` statement.

In [5]:
if a > 20:
    print('Greater than 20!')
else:
    print('Less than or equal to 20!')

Less than or equal to 20!

## Lists and loops

So far, we've seen variables and literals that represent a single value (e.g., `a = 14`).  A Python _list_ allows us to group multiple values together in a single data structure.  Python's lists are roughly analogous to the data structures called "arrays" or "vectors" in other programming languages.  We can define a list using brackets, `[` and `]`.

In [6]:
fseq = [1, 1, 2, 3, 5, 8, 13, 21, 34]
print(fseq)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

Individual elements of a list are accessed using *subscript notation*, which uses an integer index to refer to the desired list item.  The first element of a list is at index 0, the next is at index 1, and so on.

In [7]:
print(fseq[0])
print(fseq[1])
print(fseq[6] + fseq[7])
print(fseq[7] + fseq[8])

1
1
34
55

Python's `for` loop provides a convenient way to sequentially access every item in a list.

In [8]:
for item in fseq:
    print(item)

1
1
2
3
5
8
13
21
34

The indented part of a `for` loop is called the loop's *body*, and it can contain multiple lines of code.

In [9]:
for item in fseq:
    if item > 10:
        print('Greater than 10:', item)

prev_item = 0
for item in fseq:
    if prev_item > 0:
        print(prev_item, '+', item, '=', prev_item + item)
    prev_item = item

Greater than 10: 13
Greater than 10: 21
Greater than 10: 34
1 + 1 = 2
1 + 2 = 3
2 + 3 = 5
3 + 5 = 8
5 + 8 = 13
8 + 13 = 21
13 + 21 = 34
21 + 34 = 55

The `len` function returns the number of items in a list.

In [10]:
print(len(fseq))

total = 0
for item in fseq:
    total = total + item

mean = total / len(fseq)
print('Arithmetic mean:', mean)

9
Arithmetic mean: 9.777777777777779

## Working with Python packages, modules, and functions

Python code is often organized into units called _packages_ and _modules_.  Although there are technical differences between the two, for the purposes of this workshop, we can think of them as functionally the same (to avoid typing "module or package" over and over, I'll sometimes use the term "library" to refer to both).  Modules and packages group together related code and make it easy to reuse that code in other programs.  To introduce the basic concepts, we'll work with a standard Python module called `math` that contains a variety of mathematical functions.

To use a package or a module, we use the `import` statement to tell Python that we want to load the library.  Once a library is loaded, the dot operator, `.`, lets us access the objects contained in the library.  For example, the `math` module includes a variable that defines the constant _pi_ and also includes implementations of all of the standard trigonometric functions.  Let's take a look at how we can access them.

In [11]:
import math

print('This is the value of pi:', math.pi)

radius = 4
area = math.pi * radius * radius
print('The area of the circle is', area)

This is the value of pi: 3.141592653589793
The area of the circle is 50.26548245743669

The `math` module also contains a large set of _functions_.  In Python, a function comprises a block of code that accepts one or more *arguments*, does some computations using the argument values, and then returns the result.  For example, the `math` module includes a function called `cos()` that implements the standard trigonometric cosine function.

In [12]:
print(math.cos(0))
print(math.cos(math.pi))
print(math.cos(math.pi * 2))

1.0
-1.0
1.0

In the examples above, we call the function `cos()` with the values `0`, `math.pi` and `math.pi * 2` as the argument values.  The result of a function call can be assigned to a variable, just like any other value.

In [13]:
result = math.cos(math.pi * 2)
print(result)

1.0

Functions can take any number of arguments.  Arguments are separated by a comma, `,`.  We've already seen examples of this by calling `print()` with more than one argument.  For another example, the `math` library includes a function called `gcd()` that returns the greatest common divisor of 2 integers.

In [14]:
print(math.gcd(5, 7))
print(math.gcd(12, 48))
print(math.gcd(143, 253))

1
12
11

To use functions in the `math` module, we've needed to type the full name of the module every time we call one of its functions.  For a library with a relatively short name, such as `math`, this isn't much of a burden, but for libraries with long names, it can quickly get tedious to type the full name over and over again.  To help solve this problem, Python allows us to assign a shortcut name for a library as part of the `import` statement.

In [15]:
import math as m

print(m.pi)
print(m.cos(m.pi * 2))

3.141592653589793
1.0

## Using NumPy

[*NumPy*](https://www.numpy.org/) is a Python package that supports fast numerical computation in Python.  For our purposes, the most important component of NumPy is NumPy's *multidimensional array*, which, in this lesson, I will simply refer to as "array".  NumPy arrays can be used in many of the same ways as Python lists, but they also support a large set of mathematical operations that are not provided for lists.  Furthermore, performing numerical calculations on arrays is typically much faster than using lists.

There are many ways to create an array.  Here, we will use the `array()` function to create an array directly from a Python list.

In [16]:
import numpy as np

f_arr = np.array([1, 1, 2, 3, 5, 8, 13, 21, 34])
print(f_arr)

print(f_arr[0])
print(f_arr[8])

print('Array length:', len(f_arr))

for item in f_arr:
    print(item)

[ 1  1  2  3  5  8 13 21 34]
1
34
Array length: 9
1
1
2
3
5
8
13
21
34

The code above illustrates several key points:
  1. By convention, the shortcut name `np` is used for `numpy`.
  2. Indexing of numpy arrays is exactly as for Python lists, with the first element at index 0.
  3. Arrays can generally be used in the same ways you'd use lists.

Numpy arrays support all of the basic arithmetic operations, which are performed *element-wise*.  That is, the arithmetic operation is independently applied to each element of the array or pair of corresponding elements.

In [17]:
print(f_arr + 1)
print(f_arr / 2)
print(f_arr * f_arr)

[ 2  2  3  4  6  9 14 22 35]
[ 0.5  0.5  1.   1.5  2.5  4.   6.5 10.5 17. ]
[   1    1    4    9   25   64  169  441 1156]

NumPy also provides many common mathematical functions that can be used with arrays.  As with the arithmetic operators, most of NumPy's mathematical functions operate element-wise, but some calculate a single value from the contents of an array.

In [18]:
print(np.sqrt(f_arr))

print('The range is', np.min(f_arr), ',', np.max(f_arr))
print('Arithmetic mean:', np.mean(f_arr))

[1.         1.         1.41421356 1.73205081 2.23606798 2.82842712
 3.60555128 4.58257569 5.83095189]
The range is 1 , 34
Arithmetic mean: 9.777777777777779

Common statistical summary functions, such as `min()` and `mean()`, can also be accessed as properties of the array objects themselves, which is sometimes more convenient.

In [19]:
print('The range is', f_arr.min(), ',', f_arr.max())
print('Arithmetic mean:', f_arr.mean())

The range is 1 , 34
Arithmetic mean: 9.777777777777779

## Using Pandas

[*Pandas*](https://pandas.pydata.org/) is another Python package that is commonly used for doing statistics and machine learning in Python.  Pandas provides a structure called `DataFrame` that implements a convenient way to work with tabular data (i.e., data with one or more variables arranged in columns, with each row containing one observation of each variable).  If you've worked with dataframes in R, pandas' `DataFrame` is roughly analogous.

To illustrate the basic ideas of pandas' `DataFrame`, we'll work with a famous historical dataset, the [iris flower dataset](https://en.wikipedia.org/wiki/Iris_flower_data_set).

The iris data are provided in a plain-text format known as [*comma-separated values*](https://en.wikipedia.org/wiki/Comma-separated_values), or *CSV*.  CSV is a popular format for tabular data because it is both human and machine readable and it is supported by a huge number of software programs.

First, we'll load pandas and then use the `read_csv()` function to load the iris data.  Note the conventional use of `np` as an abbreviation for `pandas`.

In [20]:
import pandas as pd

idata = pd.read_csv('../nb-datasets/iris_dataset.csv')

To inspect the contents of a DataFrame, we can use the `head()` or `tail()` functions.  `head()` returns the first 5 rows of a DataFrame; `tail()` returns the last 5.

In [21]:
idata.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In later lessons, we'll spend more time talking about the contents of the iris dataset.  For now, simply note that the DataFrame comprises 5 columns, where each column contains values for a single variable.  Each row contains a complete set of observations of all variables for one individual iris flower.

Just as with Python lists and numpy arrays, we can use the `len()` function to find out how many rows (i.e., individual flowers) are in our dataset.

In [22]:
len(idata)

150

DataFrames include a function called `describe()` that gives you a basic statistical overview of a DataFrame.

In [23]:
idata.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

We can access individual columns of a DataFrame using a special form of subscript notation that uses the column name.

In [24]:
idata['petal_length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

Pandas DataFrames are built on top of numpy arrays.  In fact, a column in a Pandas DataFrame is a special kind of numpy array.  Therefore, you can work with data in a pandas DataFrame much as you would work with any other numpy array.

In [25]:
print('First element:', idata['petal_length'][0])

p_lens = idata['petal_length']
print('First element:', p_lens[0])


print('Mean petal length:', p_lens.mean())

First element: 1.4
First element: 1.4
Mean petal length: 3.758666666666666

Basic statistical summary methods are defined for DataFrames, too, and they return the summary statistic for each column.

In [26]:
idata.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

## Conclusion

That's it for our quick introduction to Python, NumPy, and Pandas.  Although we've covered only a tiny fraction of what these tools can do, you should at least be able to begin using them for basic data manipulation tasks.  Upcoming lessons will introduce more features of these tools, as well as give you plenty of opportunity to practice using them!